@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

/* Global Styles */
body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #161616;
  color: #fafafa;
  text-align: center;
  font-family: "VT323", monospace;
}

/* App layout */
.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.App-header {
  background-color: #161616;
  margin-top: 40px;
  font-size: 75px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Input styles */
.input-container, .user-input {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
  background-color: #161616;
}

input[type="text"] {
  padding: 10px;
  font-size: 22px;
  width: 230px;
  border-radius: 10px;
  font-family: "VT323", monospace;
}

button {
  padding: 10px 20px;
  background-color: #4c4c4c;
  color: #fafafa;
  border: whitesmoke;
  border-radius: 10px;
  font-size: 26px;
  cursor: pointer;
  font-family: "VT323", monospace;
}

.toast {
  font-family: "VT323", monospace;
}

/* Ticker styles */
.pixl-ticker {
  overflow: hidden;
  white-space: nowrap;
  background-color: #161616;
  color: #fafafa;
  font-family: "VT323", monospace;
  font-size: 25px;
  margin-top: 10px;
}

.ticker-wrap {
  width: 100%;
  overflow: hidden;
}

@keyframes move {
  0% {
    transform: translate3d(75vw, 0, 0);
  }
  100% {
    transform: translate3d(-75vw, 0, 0);
  }
}

.ticker-move {
  display: inline-block;
  animation: move 20s linear infinite;
}

.ticker-item {
  display: inline-block;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ticker-img {
  animation: rotate 5s linear infinite;
}

.content-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* Pixl Text Style */
.pixl-text {
  background-color: #161616;
  color: #fafafa;
  font-family: "VT323", monospace;
  font-size: 28px;
  margin-top: 20px;
}

/* Card Styles */
.card-holder {
  border-radius: 15px;
  background-color: rgb(34, 33, 33);
  padding-top: 12px;
  padding-right: 12px;
  padding-left: 12px;
  margin: 20px auto;
  margin-top: 30px;
  margin-bottom: 25px;
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  animation: swing 3.5s infinite alternate ease-in-out;
}


@keyframes swing {
  0% {
    transform: perspective(1000px) rotateY(-10deg);
  }
  100% {
    transform: perspective(1000px) rotateY(10deg);
  }
}

.card-image {
  width: 100%;
  display: block;
}

.card-footer {
  margin-bottom: 5px;
  font-size: 22px;
  font-weight: bold;
  color: rgb(192, 151, 69);
}

/* OpenSea Message Below Card */
.os-pet-api {
  font-size: 20px;
  color: #898888;
}

.confirmation-message {
  font-size: 20px;
  color: #898888;
}

.mismatch-message {
  font-size: 20px;
  color: #898888;
}

/* Signature style */
.signature-text {
  background-color: #161616;
  font-family: "VT323", monospace;
  font-size: 22px;
  margin-top: 0px;
}

.ethereum-tip {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tip-text {
  font-size: 20px;
  color: #898888;
}

/* Footer styles */
.footer {
  width: 100%;
  background-color: #161616;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "VT323", monospace;
  font-size: 25px;
  margin-top: 10px;
}

.footer a {
  color: #fafafa;
  text-decoration: none;
  margin: 0 20px;
  display: flex;
  align-items: center;
}

.footer img {
  width: 30px;
  height: auto;
  margin-right: 10px;
}

/* Mobile */
@media (max-width: 600px) {
  .content-wrapper {
    margin-bottom: 50px;
  }

  .App-header {
    font-size: 50px;
    margin-top: 15px;
  }

  @keyframes move {
    0% {
      transform: translate3d(100vw, 0, 0);
    }
    100% {
      transform: translate3d(-150vw, 0, 0);
    }
  }
  

  input[type="text"] {
    font-size: 18px;
    width: 180px;
  }

  .card-holder {
    margin: 15px auto;
  }

  button {
    font-size: 20px;
  }

  .pixl-text {
    font-size: 25px;
    max-width: 380px;
  }

  .signature-text {
    background-color: #161616;
    font-family: "VT323", monospace;
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 10px;
    margin-top: auto;
  }

  .ethereum-tip {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: auto;
  }

  .eth-image {
    margin-bottom: 8px;
    margin-right: -25px;
    margin-left: 10px;
    margin-top: auto;
  }
  
  .tip-text {
    font-size: 18px;
    color: #898888;
    margin-top: auto;
  }

  .footer {
    display:none;
  }

  body, html {
    min-height: 100vh
  }
}
